@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.container
{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.4),rgba(12,3,51,0.4));
    position: relative;
    padding: 0,5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav
{
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo{
    width: 80px;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    margin-left: 30px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
nav ul li a:hover
{
    background-color: royalblue;
    color: #fff;
}
.content
{
    text-align: center;
}
.content h1{
    font-size: 90px;
    color: white;
    font-weight: bold;
}
.content h1:hover{
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color:white;
    -webkit-text-fill-color: transparent;
}
.content a{
    display: inline-block;
    text-decoration: none;
    padding: 20px 70px;
    border: 1px solid #fff;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
}
.back-video
{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: -1;
}
.content a:hover{
    background-color: royalblue;
    color: #fff;
}